/.idea/.idea.BluetoothPrototype2/.idea/
/.idea/.idea.BluetoothPrototype2/.idea/.gitignore
/.idea/.idea.BluetoothPrototype2/.idea/indexLayout.xml
/.idea/.idea.BluetoothPrototype2/.idea/misc.xml
/.idea/.idea.BluetoothPrototype2/.idea/vcs.xml
